/* Breadcrumbs */
.breadcrumbs-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    margin-bottom: 50px;
    color: #0089EA;
}

.Breadcrumbs {
    color: #0089EA;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    
}

.breadcrumb-separator {
    color: #0089EA;
    margin: 0 12px;
    font-size: 14px;
}